.ea-tablenav{
  display: flex;
  flex-direction: row;
  align-items: center;

  .displaying-num{
	margin-right: 10px;
  }
  .pagination-links{
	display: flex;
	flex-direction: row;
	align-items: center;

	.paging-input{
	  padding: 0 2px;
	}
  }
}
