.ea-dashboard-card {
	&__header {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		position: relative;
		justify-content: space-between;
		font-size: 14px;
		margin: 0;
		line-height: 1.4;
		padding: 8px 10px !important;

		&:after{
			display:none;
		}
	}

	&__title{
		font-weight: 600;
		color: #23282d;
	}

	&__body{
		padding: 10px;
	}

}
