node_modules
bower_components
release
vendor
.idea
.husky

# Project Files
dist
build
backstop_data

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

#Override
assets/dist

#Plugin specific
!assets/js
@next

