.eac-card {
	@extend .eac-panel;
	padding: 0 !important;

	& > &__header, & > &__footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		h2, h3, p {
			margin: 0;
			padding: 0;
		}

		input, select, .select2, button {
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__title {
		padding: 0;
		margin: 0;
		color: inherit;
		font-size: 14px;
		font-weight: 600;
	}

	&__subtitle {
		font-size: 13px;
		font-weight: 400;
		color: #777;
	}

	& > &__body {
	}

	& > &__section {

	}

	& > [class*=eac-card]:not([class*=wide]) {
		padding: 8px 12px;
	}

	& > [class*=eac-card__] {
		// child expect last item.
		&:not(:last-child) {
			border-bottom: 1px solid #e1e2e2;
		}
	}

	&.is--small {
		& > [class*=eac-card__] {
			padding: 6px 8px;
		}
	}

	&.is--large {
		& > [class*=eac-card__] {
			padding: 12px 12px;
		}
	}
}
