.eac-form-field {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 0;
	vertical-align: top;
	box-sizing: border-box;
	min-height: 30px;
	margin: 0 0 1em 0;

	label,
	&__label {
		//gap: 5px;
		display: flex;
		align-self: self-start;
		justify-content: flex-start;
		align-items: center;
		font-weight: bold;
		font-size: 95%;
		margin-bottom: 0.25em;

		abbr[title="required"] {
			color: #ff0000;
			text-decoration: none;
			font-weight: normal;

			&:after {
				content: "*";
			}
		}
	}

	&__group {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		align-self: center;
		width: 100%;


		.eac-form-field__addon,
		[class*='addon'],
		.button, button {
			display: flex;
			align-items: center;
			padding: 0 8px;
			text-align: center;
			white-space: nowrap;
			background-color: #eee;
			border: 1px solid #8c8f94;
			border-radius: 4px;
			user-select: none;
			text-decoration: none;
		}

		& > :not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			.select2-selection {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		& > :nth-last-child(n+3) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		& > :not(:first-child) {
			margin-left: -1px !important;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			.select2-selection {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		// if the 2nd child is select2.
		& > :nth-child(2) {
			.select2-selection {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}
	}

	&>input:not([type="checkbox"]):not([type="radio"]):not(&__addon),
	&> select:not(&__addon),
	& > textarea:not(&__addon) {
		position: relative;
		flex: 1 1 auto;
		min-width: 0;
		margin: 0;
		max-width: unset;

		&:focus {
			z-index: 3;
		}
	}

	// Fix button taking up full width.
	button,
	.button,
	input[type="submit"] {
		width: auto;
		align-self: flex-start;
	}

	p {
		margin-bottom: 0;
	}
}

.inline--fields {
	@media screen and (min-width: 850px) {
		.eac-form-field {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 150px 1fr;

			& > label:first-child, &__label {
				width: 150px;
				min-width: 150px;
				grid-column: 1;
				padding-right: 10px;
			}

			& > *:not(:first-child) {
				grid-column: 2;
			}
		}
	}
}

.grid--fields {

	@media screen and (min-width: 850px) {
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-right: -15px;
		margin-left: -15px;

		.eac-form-field {
			padding-right: 15px;
			padding-left: 15px;
			box-sizing: border-box;
			flex: 0 0 50%;
			max-width: 50%;
			justify-content: flex-start;
			width: 100%;
			min-width: 0;
			float: none;
			margin: 0 0 1em 0;

			&.is--full {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}
