.eac-panel {
	display: block;
	box-sizing: border-box;
	max-width: none;
	min-width: auto;
	min-height: 1px;
	background: #fff;
	font-size: 13px;
	line-height: 1.5;
	margin: 0 auto 1.5em;
	position: relative;
	width: 100%;
	border: 1px solid #e1e2e2;
	padding: 8px 12px;

	[class*=eac] {
		box-sizing: inherit;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	h2, h3 {
		padding: 0;
		margin: 0;
		color: inherit;
		font-size: 14px;
		font-weight: 600;
	}
	h2, h3, h4 {
		color: inherit;
	}

	&.is--small {
		padding: 6px 8px;
	}
	&.is--large {
		padding: 12px 12px;
	}
}
