.eac-invoice-table {
	table-layout: fixed;
	min-width: 780px;
	box-shadow: none;
	border-color: #ddd;

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	textarea,
	select,
	input:not([type="checkbox"]):not([type="radio"]) {
		width: 100%;
		text-align: inherit;
	}

	&.widefat {
		box-shadow: none;
		border-color: #ddd;
	}

	#{&}__items {
		tr {
			td {
				border-bottom: 1px solid #ddd;
			}
		}
	}
	#{&}__totals{
		.col-summary{
			//font-size: 1.2em;
			font-weight: 600;
		}
	}

	[class^="col-"]:not(.col-item, .col-actions) {
		width: 10%;
		text-align: right;

		& > * {
			text-align: inherit;
		}
	}

	.col-actions {
		width: 2%;
		text-align: right;
		> a {
			display: inline-block;
			color: #ccc;
			transition: color 0.1s ease-in;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: #444;
			}
		}

		th & {
			text-indent: -9999px;
		}
	}

	.line-description {
		margin-top: 10px;
		color: #666;
		position: relative;
		resize: none;
	}
}

.eac-invoice-table_v1 {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #fff;
	table-layout: fixed;
	width: 100%;
	min-width: 780px;
	border: 1px solid #ddd;

	@media only screen and (max-width: 768px) {
		table-layout: auto !important;
	}

	td, th {
		padding: 8px 10px !important;
		vertical-align: top;


		&:first-child {
			padding-left: 8px !important;
		}

		&:last-child {
			padding-right: 8px !important;
		}
	}

	thead {
		border-bottom: 1px solid #ddd;

		th {
			text-align: left;
			font-weight: 400;
			color: #999;
			background: #f8f8f8;
			user-select: none;
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid #ddd;
		}

		&:last-child {
			tr:last-child {
				border-bottom: 0;
			}
		}
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	textarea,
	select,
	input:not([type="checkbox"]):not([type="radio"]) {
		width: 100%;
		text-align: inherit;
	}

	[class^="col-"]:not(.col-item) {
		width: 10%;
		text-align: right;
	}

	.col-actions {
		padding: 8px 0 !important;
		width: 2% !important;
		text-align: right !important;

		> a {
			display: inline-block;
			color: #ccc;
			transition: color 0.1s ease-in;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: #444;
			}
		}

		th & {
			text-indent: -9999px;
		}
	}

	.line-name,
	.line-description {
		width: 100%;
		display: block;
	}

	.line-subtotal, .line-quantity, .line-price, .line-tax {
		text-align: right;
	}

	.line-description {
		margin-top: 10px;
		color: #666;
		position: relative;
		resize: none;
	}

	.line-quantity-unit {
		color: #666;
		font-size: 0.85em;
	}

}
