.eac-document-summary {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #fff;
	box-sizing: border-box;
	width: 100%;
	min-width: 780px;
	border-top: 1px solid #e1e2e2;
	border-bottom: 1px solid #e1e2e2;

	* {
		word-wrap: break-word;
	}

	thead {
		border-bottom: 1px solid #ddd;

		th {
			text-align: left;
			font-weight: 400;
			user-select: none;
		}
	}

	tbody {
		tr:last-child td {
			border-bottom: 0;
		}
	}

	td,
	th {
		color: #2c3338;
		padding: 0.6154em 0.76em;
		vertical-align: top;

		&:first-child {
			padding-left: 2em !important;
		}

		&:last-child {
			padding-right: 2em !important;
		}
	}

	// any columns that are not .col-item
	[class^="col-"]:not(.col-item):not([class*="left"]) {
		text-align: right;

		& > * {
			text-align: inherit;
		}
	}

	.col-item {
		min-width: 200px;
	}

	.col-quantity {
		text-align: left;

		.times {
			font-size: 0.92em;
			color: #888;
		}
	}

	.col-action {
		max-width: 20px;
		width: 2%;
		padding-left: 0;
		font-size: 13px;

		> a {
			color: #ccc;
			transition: color 0.1s ease-in;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: #444;
			}
		}

		th & {
			text-indent: -9999px;
		}

		tr:hover & {
			opacity: 1;
		}
	}

	input[type="number"] {
		max-width: 80px;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	input[type="text"],
	.select2-container,
	textarea {
		width: 100%;

		textarea {
			margin-top: 10px;
			color: #666;
			position: relative;
			resize: none;
		}
	}

	a {
		text-decoration: none;

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&:visited {
			color: #2271b1;
		}
	}

	&__items {
		th {
			background-color: #f6f7f7;
		}

		td {
			padding: 1.5em 1em 1em;
			line-height: 1.5em;
			border-bottom: 1px solid #f8f8f8;

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	&__actions,
	&__totals {
		tr {
			background-color: #f6f7f7;
			border-top: 1px solid #e1e2e2;
			border-bottom: 1px solid #e1e2e2;

			td {
				vertical-align: middle;

				&:first-child {
					padding-top: if(&__totals, 2em, auto);
				}

				&:last-child {
					padding-bottom: if(&__totals, 2em, auto);
				}
			}
		}

		&__totals td {
			padding-top: .75em;
			padding-bottom: .75em;
			line-height: 1.5em;

			.col-summary-label {
				font-weight: 600;
			}
		}
	}
}

.eac-document-form {
	.has-2-cols {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;

		@media only screen and (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}

	&__section {
		&:not(.document-items) {
			padding: 2em;
		}

		&.document-items {
			overflow-x: auto;
			overflow-y: hidden;
		}
	}
}
