.eac-bill-totals {
	padding-right: 2%;

	#{&}__item {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 5px;
		padding: 8px 10px;
		text-align: right;
	}



	#{&}__value {
		width: 10%;
	}
}


table.eac-document-summary {
	table-layout: fixed;
	min-width: 780px;
	box-shadow: none;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	textarea,
	select,
	input:not([type="checkbox"]):not([type="radio"]) {
		width: 100%;
		text-align: inherit;
	}

	// Items design.
	.eac-document-summary__items {
		tr {
			border-bottom: 1px solid #ddd;
		}
	}

	[class^="col-"]:not(.col-item, .col-action) {
		width: 10%;
		text-align: right;

		& > * {
			text-align: inherit;
		}
	}

	.col-action {
		max-width: 20px;
		width: 2%;
		padding-left: 0;
		font-size: 13px;

		> a {
			color: #ccc;
			transition: color 0.1s ease-in;
			text-decoration: none;
			cursor: pointer;

			tr &:hover {
				color: #444;
			}
		}

		th & {
			text-indent: -9999px;
		}

		tr:hover & {
			opacity: 1;
		}
	}

	.line-description {
		margin-top: 10px;
		color: #666;
		position: relative;
		resize: none;
	}

	td[class*="col-summary-label"] {
		font-weight: 600;
	}
}

.eac-invoice-table_v2 {
	table-layout: fixed;
	min-width: 780px;
	box-shadow: none;
	border-color: #ddd;

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	textarea,
	select,
	input:not([type="checkbox"]):not([type="radio"]) {
		width: 100%;
		text-align: inherit;
	}

	&.widefat {
		box-shadow: none;
		border-color: #ddd;
	}

	#{&}__items {
		tr {
			td {
				border-bottom: 1px solid #ddd;
			}
		}
	}

	#{&}__totals {
		.col-summary {
			//font-size: 1.2em;
			font-weight: 600;
		}
	}

	[class^="col-"]:not(.col-item, .col-actions) {
		width: 10%;
		text-align: right;

		& > * {
			text-align: inherit;
		}
	}

	.col-actions {
		width: 2%;
		text-align: right;

		> a {
			display: inline-block;
			color: #ccc;
			transition: color 0.1s ease-in;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: #444;
			}
		}

		th & {
			text-indent: -9999px;
		}
	}

	.line-description {
		margin-top: 10px;
		color: #666;
		position: relative;
		resize: none;
	}
}

.eac-invoice-table_v1 {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #fff;
	table-layout: fixed;
	width: 100%;
	min-width: 780px;
	border: 1px solid #ddd;

	@media only screen and (max-width: 768px) {
		table-layout: auto !important;
	}

	td, th {
		padding: 8px 10px !important;
		vertical-align: top;


		&:first-child {
			padding-left: 8px !important;
		}

		&:last-child {
			padding-right: 8px !important;
		}
	}

	thead {
		border-bottom: 1px solid #ddd;

		th {
			text-align: left;
			font-weight: 400;
			color: #999;
			background: #f8f8f8;
			user-select: none;
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid #ddd;
		}

		&:last-child {
			tr:last-child {
				border-bottom: 0;
			}
		}
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	textarea,
	select,
	input:not([type="checkbox"]):not([type="radio"]) {
		width: 100%;
		text-align: inherit;
	}

	[class^="col-"]:not(.col-item) {
		width: 10%;
		text-align: right;
	}

	.col-actions {
		padding: 8px 0 !important;
		width: 2% !important;
		text-align: right !important;

		> a {
			display: inline-block;
			color: #ccc;
			transition: color 0.1s ease-in;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: #444;
			}
		}

		th & {
			text-indent: -9999px;
		}
	}

	.line-name,
	.line-description {
		width: 100%;
		display: block;
	}

	.line-subtotal, .line-quantity, .line-price, .line-tax {
		text-align: right;
	}

	.line-description {
		margin-top: 10px;
		color: #666;
		position: relative;
		resize: none;
	}

	.line-quantity-unit {
		color: #666;
		font-size: 0.85em;
	}

}


.eac-document-form {
	#{&}__section {

	}

	// the class also have .has-2-cols
	.has-2-cols {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;

		// when screen is small
		@media only screen and (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}

	&__billing {
		font-size: 13px;
		line-height: 1.5;
		margin: 0 0 10px;
		padding: 0;
		color: #777;

		strong {
			display: block;
		}
	}
}
