.ea-placeholder-loading {
	content: "";
	position: absolute;
	top: 16px;
	right: 8px;
	bottom: 16px;
	left: 8px;
	padding-left: 8px;
	padding-top: 8px;
	background-color: lighten(#888, 20%);
	animation: loading-fade 1.6s ease-in-out infinite;
}

@keyframes loading-fade {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
