
.eac-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 4px;

  .eac-pagination__item,
  .components-base-control__field {
    margin: 0;
  }

  .eac-pagination__total {
    margin-right: 7px;
  }

  .eac-pagination__button {
    color: var(--eac--color-accent);
    border-color: var(--eac--color-accent);
    background: #f6f7f7;
    border-style: solid;
    border-width: 1px;
    min-width: 30px;
    max-height: 30px;
    outline: none;

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background: #f0f0f1;
    }

    &:disabled {
      color: #b5b5b5;
      border-color: #b5b5b5;
      background: #f6f7f7;
    }
  }

  .eac-pagination__goto {
    input {
      width: 50px;
      height: 30px;
      border-radius: 2px;
      padding: 0 5px;
      text-align: center;
    }
  }

  .eac-pagination__size {
    margin-left: 7px;

    select.components-select-control__input {
      min-width: 110px;
      height: 30px;
      border-radius: 5px;
      padding: 0 10px;
    }
  }

  // hide any number input arrows.
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
