.eac-card {
	display: block;
	box-sizing: border-box;
	max-width: none;
	min-width: auto;
	min-height: 1px;
	background: #fff;
	font-size: 13px;
	line-height: 1.5;
	margin: 0 auto 1.5em;
	position: relative;
	width: 100%;
	border: 1px solid #e1e2e2;

	[class*=eac] {
		box-sizing: inherit;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	h2, h3 {
		padding: 0;
		margin: 0;
		color: inherit;
		font-size: 14px;
		font-weight: 600;
	}
	h2, h3, h4 {
		color: inherit;
	}

	input[type="number"] {
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	&:not(:has(>[class*="eac-card__"])) {
		padding: 12px;
	}

	& > &__header, & > &__footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		h2, h3, p {
			margin: 0;
			padding: 0;
		}

		input, select, .select2, button {
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	& > &__header{
		padding: 8px 12px;
		border-bottom: 1px solid #e1e2e2;
	}

	& > &__body{
		padding: 12px;
	}

	& > &__footer{
		padding: 8px 12px;
		border-top: 1px solid #e1e2e2;
	}

	&__title {
		padding: 0;
		margin: 0;
		color: inherit;
		font-size: 14px;
		font-weight: 600;
	}

	&__subtitle {
		font-size: 13px;
		font-weight: 400;
		color: #777;
	}

}
