.eac-notes {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 400px;
	overflow-y: auto;


	li {
		margin-bottom: 10px;
	}

	li:last-child {
		margin-bottom: 0;
	}

	.note {
		padding: 10px;
		border: 1px solid #e1e2e2;
		border-radius: 4px;
		background: #f6f7f7;

		&__header {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			strong {
				font-size: 12px;
				color: #333;
				margin-right: 5px;
			}

			time {
				font-size: 11px;
				color: #aaa;
			}
		}


		&__delete {
			color: #777;
			font-weight: 700;
			text-decoration: none;
			margin-left: auto;
			opacity: .5;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			&__delete {
				color: #333;
				opacity: 1;
			}
		}
	}

	.pagination {
		margin-top: 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;

			li {
				margin: 0;
				padding: 0;
				margin-right: 5px;
				display: inline-block;

				&:last-child {
					margin-right: 0;
				}

				a {
					display: block;
					padding: 5px 10px;
					border: 1px solid #ccc;
					border-radius: 4px;
					color: #333;
					text-decoration: none;
					transition: all 0.3s ease-in-out;

					&:hover {
						background: #f5f5f5;
					}
				}

				&.active {
					a {
						background: #f5f5f5;
					}
				}
			}
		}
	}


	// if this appears after button.
	button + & {
		margin-top: 20px;
	}
}
