.ea-table {
  margin: 10px 0;

  //placeholder
  .placeholder-loading{
	content: '';
	position: absolute;
	top: 16px;
	right: 8px;
	bottom: 16px;
	left: 8px;
	padding-left: 8px;
	padding-top: 8px;
	background-color: lighten(#888, 20%);
	animation: loading-fade 1.6s ease-in-out infinite;
  }

  .is-placeholder{
	td {
	  position: relative;
	  height: 40px;
	}
  }

}
