.ea-importer{
	&-wrap{
		display: block;
	}

	&-inner{
		box-sizing: border-box;
		margin: 0;
		padding: 50px 0;
		width: 100%;
		overflow: hidden;
		position: relative;
		top: 10px;
	}

	&-help{
		color: #555d66;
		font-size: 16px;
		font-style: normal;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.components-form-file-upload{
		background: #fafafa;
		border: 1px solid #ccd0d4;
		padding: 30px;
		margin: 30px auto;
		max-width: 380px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		input{
			display: block !important;
			padding: 5px 1em 0 0;
		}

		button{
			order:2;
			color: #a0a5aa !important;
			border-color: #ddd !important;
			background: #f7f7f7 !important;
			box-shadow: none !important;
			text-shadow: 0 1px 0 #fff !important;
			cursor: default;
			transform: none !important;
		}
	}

	&-status{
		background: #fafafa;
		border: 1px solid #ccd0d4;
		padding: 30px;
		margin: 30px auto;
		max-width: 380px;
		display: flex;
		align-items: center;
		flex-direction: column;

		table{
			width: 100%;
			text-align:center;
		}
		.components-spinner{
			margin-top: 30px;
		}
	}
}
