.ea-control-field {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  height: auto;
  border-radius: 0 !important;
  border: 1px solid #ddd !important;
  transition: 0.3s border;
  max-width: none !important;

  &:focus {
	box-shadow: none !important;
	outline: 0 !important;
	border: 1px solid #007cba !important;
  }

  &.error {
	border: 1px solid red !important;
  }
}

.ea-control-label {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.ea-control-help {
  margin-top: 1px;
  font-style: italic;
  color: #666;
  margin-bottom: 0;
}

.ea-base-control {
  position: relative;
  margin-bottom: 15px;
  box-sizing: border-box;


  .ea-select-control {
	@extend .ea-control-field;
  }

  .ea-control-help {
	@extend .ea-control-help;
  }

  //inline tags
  .ea-inline-tags-base-control {
	position: relative;
	width: 100%;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
	border-radius: 0 !important;
	border: 1px solid #ddd !important;
	transition: 0.3s border;
	max-width: none !important;
	background: #fff;
	min-height: 34px;

	.woocommerce-select-control__tags {
	  display: inline-block;
	  margin: 0;
	  padding: 4px;
	}

	.ea-select-control {
	  display: inline-block;
	  width: auto !important;
	  min-height: auto !important;
	  border: none !important;
	  padding: 7px !important;
	  box-shadow: none !important;

	  &:focus {
		border: none !important;
	  }
	}


  }

  &.is-focused {
	.ea-inline-tags-base-control {
	  border: 1px solid #007cba !important;
	}
  }

}


