.eac-placeholder {
  display: table;
  width: 100%;

  .eac-placeholder__header {
    display: table-cell;
    padding-inline-end: 16px;
    vertical-align: top;

    .eac-placeholder-avatar {
      display: inline-block;
      vertical-align: top;
      background: rgba(0, 0, 0, 0.06);
      width: 32px;
      height: 32px;
      line-height: 32px;
    }

    .eac-placeholder-avatar--circle {
      border-radius: 50%;
    }

    .eac-placeholder-avatar--lg {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .eac-placeholder-avatar--sm {
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
  }

  .eac-placeholder__content {
    display: table-cell;
    width: 100%;
    vertical-align: top;

    .eac-placeholder-title {
      width: 100%;
      height: 16px;
      background: rgba(0, 0, 0, 0.06);
      border-radius: 4px;

      & + .eac-placeholder-paragraph {
        margin-block-start: 24px;
      }
    }

    .eac-placeholder-paragraph {
      padding: 0;

      & > li {
        width: 100%;
        height: 16px;
        list-style: none;
        background: rgba(0, 0, 0, 0.06);
        border-radius: 4px;

        & + li {
          margin-block-start: 16px;
        }

        &:last-child {
          &:not(:first-child):not(:nth-child(2)) {
            width: 61%;
          }
        }
      }
    }
  }

  &.eac-placeholder-element {
    display: inline-block;
    width: auto;

    .eac-placeholder-button {
      display: inline-block;
      vertical-align: top;
      background: rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      width: 64px;
      min-width: 64px;
      height: 32px;
      line-height: 32px;

      &.eac-placeholder-button--circle {
        width: 32px;
        min-width: 32px;
        border-radius: 50%;
      }

      &.eac-placeholder-button--round {
        border-radius: 32px;
      }
    }

    .eac-placeholder-button--lg {
      width: 80px;
      min-width: 80px;
      height: 40px;
      line-height: 40px;

      &.eac-placeholder-button--circle {
        width: 40px;
        min-width: 40px;
        border-radius: 50%;
      }

      &.eac-placeholder-button--round {
        border-radius: 40px;
      }
    }

    .eac-placeholder-button--sm {
      width: 48px;
      min-width: 48px;
      height: 24px;
      line-height: 24px;

      &.eac-placeholder-button--circle {
        width: 24px;
        min-width: 24px;
        border-radius: 50%;
      }

      &.eac-placeholder-button-r-ound {
        border-radius: 24px;
      }
    }

    .eac-placeholder-avatar {
      display: inline-block;
      vertical-align: top;
      background: rgba(0, 0, 0, 0.06);
      width: 32px;
      height: 32px;
      line-height: 32px;

      &.eac-placeholder-avatar--circle {
        border-radius: 50%;
      }

      &.eac-placeholder-avatar--lg {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }

      &.eac-placeholder-avatar--sm {
        width: 24px;
        height: 24px;
        line-height: 24px;
      }
    }

    .eac-placeholder-input {
      display: inline-block;
      vertical-align: top;
      background: rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      width: 160px;
      min-width: 160px;
      height: 32px;
      line-height: 32px;
    }

    .eac-placeholder-input--lg {
      width: 200px;
      min-width: 200px;
      height: 40px;
      line-height: 40px;
    }

    .eac-placeholder-input--sm {
      width: 120px;
      min-width: 120px;
      height: 24px;
      line-height: 24px;
    }

    .eac-placeholder-image {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: top;
      background: rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      width: 96px;
      height: 96px;
      line-height: 96px;

      .eac-placeholder-image__path {
        fill: #bfbfbf;
      }

      .eac-placeholder-image__svg {
        width: 48px;
        height: 48px;
        line-height: 48px;
        max-width: 192px;
        max-height: 192px;

        &.eac-placeholder-image__svg-circle {
          border-radius: 50%;
        }
      }

      &.eac-placeholder-image__circle {
        border-radius: 50%;
      }
    }
  }

  &.eac-placeholder--block {
    width: 100%;

    .eac-placeholder-button {
      width: 100%;
    }

    .eac-placeholder-input {
      width: 100%;
    }
  }
}

.eac-placeholder--round .eac-placeholder__content .eac-placeholder-title, .eac-placeholder--round .eac-placeholder__content .eac-placeholder-paragraph > li {
  border-radius: 100px;
}

.eac-placeholder--has-avatar {
  .eac-placeholder__content {
    .eac-placeholder-title {
      margin-block-start: 12px;

      & + .eac-placeholder-paragraph {
        margin-block-start: 28px;
      }
    }
  }
}

.eac-placeholder.eac-placeholder--active .eac-placeholder-title, .eac-placeholder.eac-placeholder--active .eac-placeholder-paragraph > li, .eac-placeholder.eac-placeholder--active .eac-placeholder-avatar, .eac-placeholder.eac-placeholder--active .eac-placeholder-button, .eac-placeholder.eac-placeholder--active .eac-placeholder-input, .eac-placeholder.eac-placeholder--active .eac-placeholder-image {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
  background-size: 400% 100%;
  animation-name: placeholder-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes placeholder-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}