.ea-document {
	$self: &;
	box-sizing: border-box;

	& *, & *::before, & *::after {
		box-sizing: border-box
	}

	&__number {
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 1.1;
		color: #1e1e1e;
	}

	&__logo {
		max-width: 300px;
		max-height: 70px;
		overflow: hidden;
		margin-bottom: 10px;
		margin-top: 10px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			width: auto;
			max-height: 70px;
		}
	}

	&__watermark {
		display: block;
		left: 0;
		right: 0;
		position: absolute;
		top: 15%;
		z-index: 2;
		pointer-events: none;

		p {
			color: rgba(0, 0, 0, .04);
			font-size: 100px;
			font-weight: 500;
			transform: rotate(325deg);
			text-align: center;
			font-family: monospace;
		}
	}

	&__section {
		@include clearfix();
	}

	&__column {
		max-width: 50%;
		@media only screen and (max-width: 720px) {
			max-width: 100%;
		}
	}

	&__company-info,
	&__billing-info {
		margin-bottom: 20px;
		font-style: normal;
		line-height: 1.6em;
		text-align: left;
		max-width: 400px;

		& > span {
			display: block;
			color: #3c434a;
		}
	}

	&__company-name {
		font-weight: 600;
		font-size: 14px;
		line-height: 2em;
		color: #1e1e1e !important;
	}

	&__to {
		display: block;
		text-align: right;
		font-weight: 600;
		font-size: 14px;
		line-height: 2em;
	}

	&__billing-name {
		font-weight: 600;
	}

	&__billing-info {
		text-align: right !important;
	}

	&__meta {
		border-collapse: collapse;
		background-color: transparent;
		float: right;

		td, th {
			white-space: nowrap;
			vertical-align: middle;
			padding-top: 2px;
			padding-bottom: 2px;
		}

		th {
			text-align: left;
			padding-right: 7px;
		}

		td {
			text-align: right;

			&:last-child {
				padding-left: 7px;
			}
		}
	}

	&__items-wrapper {
		margin: 1rem 0 0 0;
		display: block;
		width: 100%;
		@include clearfix();
	}

	&__items-top {
		overflow-x: auto;
	}

	&__items {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		border-collapse: collapse;
		width: 100%;
		background: #fff;
		border: 1px solid #ddd;
		table-layout: fixed;
		box-sizing: border-box;
		border-left: 0;
		border-right: 0;
		@media only screen and (max-width: 768px) {
			table-layout: auto !important;
		}
		tr {
			border-bottom: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}

		th {
			font-weight: 400;
			color: #757575;
			background: #f8f8f8;
			user-select: none;
		}

		td {
			white-space: nowrap;
			vertical-align: middle;
			@media only screen and (max-width: 420px) {
				&:first-child {
					white-space: normal;
				}
			}
		}

		th, td {
			padding: 0.8em 1em;
			vertical-align: middle;
			@media only screen and (max-width: 420px) {
				&:last-child {
					padding: .8em .5em;
				}
			}
		}

		.view {
			white-space: nowrap;
		}
	}

	&__line-actions {
		width: 65px;
		text-align: left;

		> a {
			display: inline-block;
			color: #ccc;
			transition: color 0.1s ease-in;
			text-decoration: none;

			&:hover {
				color: #444;
			}

			.dashicons {
				width: 16px;
				height: 16px;
				font-size: 16px;
			}
		}

		.save-line {
			display: none;
		}

	}

	&__line-name {
		text-align: left;

		.view {
			@media only screen and (max-width: 420px) {
				white-space: normal;
			}
		}
	}

	&__line-quantity,
	&__line-price,
	&__line-tax,
	&__line-vat,
	&__line-subtotal {
		text-align: right;
	}

	&__line {
		&.editing {
			.edit {
				display: block !important;
			}

			.view {
				display: none;
			}

			.save-line {
				display: inline-block;
			}

			.edit-line {
				display: none;
			}
		}

		.line_item_name {
			width: 90%;
		}

		&-price,
		&-quantity,
		&-tax,
		&-tax {
			input {
				width: 100px;
				text-align: right;
			}
		}
	}

	&__data-row {
		width: 100%;
		border: 1px solid #dfdfdf;
		padding: 10px;
		background: #f8f8f8;
		box-sizing: border-box;
		margin: 0;
		border-top: 0;
	}

	&__total-items {
		width: 100%;

		td {
			text-align: right;
		}

		.label {
			vertical-align: top;
			padding: 0.4em;
			font-weight: 600;
		}

		.total {
			font-size: 1em !important;
			width: 14em;
			margin: 0 0 0 .5em;
			box-sizing: border-box;
			font-weight: 600;
			padding: 0.4em;
		}

		@media only screen and (min-width: 600px) {
			padding-left: 50%;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__note {
		margin-top: 20px;
		width: 100%;
		display: block;
		@include clearfix();

		&-label {
			font-weight: bold;
			display: block;
			margin-bottom: 20px;
		}

		p {
			font-size: 13px;
			line-height: 1.5;
			margin: 1em 0;
		}
	}

	&__terms {
		padding-top: 1rem;
		width: 100%;
		display: block;
		border-top: 1px solid #e1e2e2;
		@include clearfix();

		&-label {
			font-weight: bold;
			display: block;
		}

		p {
			font-size: 13px;
			line-height: 1.5;
			margin: 1em 0;
		}
	}

	&__status {
		text-transform: uppercase;
		font-weight: 400;
		display: inline-block;
		text-decoration: none;
		font-size: 12px;
		line-height: 1;
		padding: 6px 18px;
		margin: 0;
		border-radius: 3px;
		white-space: nowrap;
		box-sizing: border-box;
		background: 0 0;
		color: #ffffff;
		background: #63686f;
		border: 1px solid #63686f;

		&.sent, &.received {
			border: 1px solid #deb100;
			background: #deb100;
		}

		&.partial {
			border: 1px solid #007e65;
			background: #007e65;
		}

		&.paid {
			border: 1px solid #00a32a;
			background: #00a32a
		}

		&.overdue {
			border: 1px solid #d63638;
			background: #d63638;
		}
	}

	&__due {
		color: #e42e2e;
	}
}

.ea-document-notes {
	list-style: none;
	max-height: 300px;
	overflow-x: hidden;
	//overflow-y: scroll;

	&__item {
		margin-bottom: 6px;


		&-content {
			padding: 10px;
			background: #efefef;
			position: relative;

			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -10px;
				left: 20px;
				width: 0;
				height: 0;
				border-width: 10px 10px 0 0;
				border-style: solid;
				border-color: #efefef transparent;
			}
		}

		&-meta {
			padding: 10px;
			color: #999;
			margin: 0;
			font-size: 11px;
		}

		.delete_note {
			color: #a00;
		}
	}

	&__form {
		width: 100%;

		p:first-child {
			margin-top: 0;
		}

		label {
			display: block;
			font-weight: 600;
			margin-bottom: 5px;
		}

		textarea {
			width: 100%;
			height: 50px;
			resize: none;
		}

		select {
			width: 70%;
		}

	}
}

//.ea-document {
//	$self: &;
//	box-sizing: border-box;
//
//	& *, & *::before, & *::after {
//		box-sizing: border-box
//	}
//
//	a {
//		text-decoration: none;
//
//		&:focus {
//			outline: none;
//			box-shadow: none;
//		}
//	}
//
//	&__items-title {
//		font-size: 14px;
//		margin-top: 0;
//		margin-bottom: 1rem;
//		padding-left: 12px;
//	}
//
//
//
//	/* Line items table */

//
//	.add-line-item {
//		.dashicons {
//			vertical-align: middle;
//		}
//	}
//
//	&__section {
//		display: flex;
//		justify-content: space-between;
//		min-height: 40px;
//		align-items: center;
//		margin-bottom: 20px;
//		flex-direction: row;
//		width: 100%;
//		padding: 15px;
//
//		&.border-bottom {
//			border-bottom: 1px solid #e1e2e2;
//		}
//	}
//
//	&__title {
//		text-align: right;
//		font-size: 2.5em;
//		text-transform: uppercase;
//		line-height: 1;
//		small{
//			color: #757575;
//			font-size: 70%;
//		}
//	}
//
//	&__logo {
//		max-width: 300px;
//		max-height: 100px;
//		overflow: hidden;
//
//		img {
//			max-height: 100px;
//			width: auto;
//		}
//
//		h2 {
//			font-size: 1.75rem;
//			margin: 0;
//			padding: 0;
//			font-weight: normal;
//		}
//	}
//
//	&__company_address,
//	&__party_address{
//		max-width: 400px;
//		width: 100%;
//	}
//
//	&__meta {
//		width: auto !important;
//		text-align: right;
//
//		&-content {
//			color: #757575;
//		}
//
//		td {
//			vertical-align: middle;
//			padding: 5px 0 0 10px;
//			white-space: nowrap;
//		}
//	}
//
//
//	&__company_address {
//		text-align: right;
//	}
//
//	&__company-name {
//		font-weight: bold;
//	}
//
//}
//

//
//.document-status, .invoice-status {
//	background-color: #eceff1;
//	border: 1px solid #9e9e9e;
//	color: #263238;
//	padding-left: 15px;
//	padding-right: 15px;
//	margin: -.25em 0;
//	white-space: nowrap;
//	display: inline-block;
//	line-height: 1.8em;
//	max-width: 100%;
//
//	&.pending {
//		background-color: #eceff1;
//		color: #263238;
//		border: 1px solid #9e9e9e;
//	}
//
//	&.sent {
//
//	}
//
//	&.partial {
//		background-color: #e0f7fa;
//		border: 1px solid #bbdefb;
//		color: #006064;
//	}
//
//	&.paid {
//		background-color: #f1f8e9;
//		border: 1px solid #dcedc8;
//		color: #33691e;
//	}
//
//	&.overdue {
//		background-color: #fff3e0;
//		border: 1px solid #ffe0b2;
//		color: #bf360c;
//	}
//
//	&.cancelled {
//		background-color: #ede7f6;
//		color: #311b92;
//		border: 1px solid #d1c4e9;
//	}
//
//	&.refunded {
//		background-color: #fff3e0;
//		border: 1px solid #ffe0b2;
//		color: #bf360c;
//	}
//
//	//&.partial{
//	//background: #ead503;
//	//}
//	//&.paid{
//	//background: #28a745;
//	//}
//}
//
//
//.ea-document__items-wrapper {
//	margin-bottom: 0;
//}
