.ea-form-card {
  &__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto 10px;
	margin-top: 20px;

	&::after {
	  display: none;
	}

	.button {
	  display: flex;
	  align-content: center;
	  justify-content: center;
	  align-items: center;

	  span {
		margin-right: 10px;
	  }
	}
  }

  &__header-title {
	margin: 0;
  }

  @media (min-width: 481px) {
	.ea-form-card__header {
	  padding: 10px 15px;
	}
  }

  p.submit {
	padding-bottom: 0;

	.spinner {
	  margin: 4px 10px 8px;
	  position: relative;
	  float: none;
	}
  }
}

.ea-batch-progress {
  background: #ddd;
  height: 15px;
  div{
	background: #0073aa;
	height: 100%;
	width: 0;
  }
}
