.ea-invoice-table-wrap {
  overflow-x: visible;
  min-height: .01%;
  box-sizing: border-box;

  .ea-invoice-items-table {
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	background-color: transparent;
	box-sizing: border-box;
	border-collapse: collapse;
	border: 1px solid #ddd;
	table-layout: fixed;

	tr{
	  border-bottom: 1px solid #ddd;
	}

	.ea-invoice-items-total {
	  div {
		margin-bottom: 9px;
	  }
	  span {
		&.label {
		  margin-bottom: 0;
		  font-weight: 400;
		  text-align: left;
		  display: inline-block;
		  margin-right: 50px;
		}

		&.value {
		  font-weight: 700;
		}
	  }
	  .discount,.shipping {
		.label {
		  margin-right: 75px;
		}
	  }
	  .total {
		.label {
		  margin-right: 52px;
		}
	  }
	}


  }

  thead {
	tr {
	  background-color: #f9f9f9
	}

	th {
	  border-bottom: 2px solid #f4f4f4;
	  vertical-align: middle;
	  text-align: left;

	  &:nth-child(1) {
		width: 30%;
		text-align: left;
	  }

	  &:nth-child(2) {
		width: 15%;
		text-align: right;
	  }

	  &:nth-child(3) {
		width: 15%;
		text-align: right;
	  }

	  &:nth-child(4) {
		width: 15%;
		text-align: right;
	  }

	  &:nth-child(5) {
		width: 22%;
		text-align: right;
	  }

	  &:nth-child(6) {
		width: 50px;
		text-align: left;
	  }
	}
  }

  tbody {
	tr {
	  border-bottom: 1px solid #f0f0f0;
	}

	td {
	  &:nth-child(1) {
		width: 30%;
		text-align: left;
	  }

	  &:nth-child(2) {
		width: 15%;
		text-align: right;
	  }

	  &:nth-child(3) {
		width: 15%;
		text-align: right;
	  }

	  &:nth-child(4) {
		width: 15%;
		text-align: right;
	  }

	  &:nth-child(5) {
		width: 15%;
		text-align: right;
	  }

	  &:nth-child(6) {
		width: 10%;
		text-align: right;
	  }
	}

	.ea-invoice-item-actions span {
	  display: inline-block;
	}
  }

  th, td {
	border-top: 0;
	vertical-align: middle;
	padding: 8px;
	line-height: 1.42857143;
  }

  .align-right {
	text-align: right;
  }

  .ea-invoice-items-actions {
	border: 1px solid #dddddd;
	padding: 10px;
  }

  .ea-invoice-items-total {
	border-left: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
	background: #f8f8f8;
	td {
	  padding-top: 12px;
	  padding-bottom: 12px;
	}
  }

  .ea-invoice-item-edit-actions {
	visibility: hidden;
  }

  .ea-invoice-item-edit-actions a {
	text-decoration: none;
	margin: 0;
	box-shadow: none;

	span {
	  width: 15px;
	  color: #ccc;
	  font-size: 15px;
	  line-height: 1em;
	  outline: none;
	}
  }

  .ea-invoice-item-edit-actions {
	.edit-items {
	  &:hover, &:focus, &:active {
		box-shadow: none;

		span {
		  color: #999999;
		}
	  }
	}
  }

  .ea-invoice-item-edit-actions {
	.delete-items {
	  &:hover, &:focus, &:active {
		box-shadow: none;

		span {
		  color: #a00;
		}
	  }
	}
  }

  .ea-invoice-items-line-items:hover .ea-invoice-item-edit-actions {
	visibility: visible;
  }
}
