.ea-settings {

	& *, & *::before, & *::after {
		box-sizing: border-box
	}

	.nav-tab-wrapper {
		margin-bottom: 0;
	}

	h3 {
		margin: 0;
	}


	/*
	Emails Tab
	*/
	.ea-emails {
		margin: 0;
		position: relative;
		table-layout: fixed;

		td, th {
			display: table-cell !important;
			padding: 1em !important;
			line-height: 1.75em;
			vertical-align: middle;
		}

		td {

		}

		th.ea-emails-email {
			width: 70%;
		}

		th.ea-emails-status,
		th.ea-emails-manage {
			width: 15%;
		}

		.email-status {
			&.active {
				color: $primary;
			}
		}
	}

	.email-tags {
		padding: 10px;
		background: #fff;
	}

	.form-table th{
		position: relative;
	}

	.ea-help-tip {
		position: absolute;
		right: 0;
		top: 50%;
		font-size: 17px;
		line-height: 17px;
		margin: -7px 0 0 0;
	}
}

