.ea-m0 {
  margin: 0;
}
.ea-mt-0{
  margin-top: 0;
}

.ea-mt-20{
  margin-top: 20px;
}

.ea-mb-20{
  margin-bottom: 20px;
}

.ea-pt-0{
  margin-top: 0;
}

.ea-pt-20{
  margin-top: 20px;
}

.ea-pb-20{
  margin-bottom: 20px;
}


.ea-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}
