/**
 * Imports
 */
@import "mixins";
@import "variables";
@import "fonts";
@import "grids";
@import "card";
@import "document";

#eaccounting-body {
	padding-bottom: 80px;
	position: relative;
}
.eaccounting_header {
	margin-top: 25px;
	.ea-company-logo {
		max-width: 70px;
		width: auto;
	}

}
.ea-invoice-actions {
	overflow: hidden;
	padding-top: 20px;
	&::after {
		clear: both;
		float: none;
		display: table-cell;
		content: "";
	}
}
.ea-card__inside {
	@media only screen and (min-width: 768px) {
		padding: 50px
	}
}
.ea-document {
	&__number {
		font-weight: 600;
	}
	&__meta {
		border: none;
		th,td {
			border: none;
		}
		td {
			text-align: right;
			&:last-child {
				padding-right: 0;
			}
		}
	}
	&__items{
		th {
			background: #415164;
			color: #ffffff;
		}
	}
	&__data-row{
			background: none;
	}
	&__total-items {
		border: none;
		margin-bottom: 0;
		td {
			border: none;
		}
	}
	&__note-label {
		margin-bottom: 0;
	}

	&__payments-wrapper {
		table {
			border: 1px solid #ddd !important;
			box-shadow: none !important;
		}
		td {
			border-bottom: 0 !important;
		}

	}
	abbr,abbr[title] {
		border: none;
		text-decoration: none;
	}
}
.eaccounting_footer {
	position: fixed;
	bottom: 0;
	z-index: 1030;
	text-align: center;
	width: 100%;
	border-top: 1px solid #e4e5e7;
	background: #fff;
	height: 50px;
	padding: 15px;
}

//.ea-document {
//	&__wrapper {
//		min-height: 100%;
//		position: relative;
//	}
//
//	&__top {
//		margin-top: 25px;
//
//		.company-logo {
//			max-width: 70px;
//			width: auto;
//		}
//	}
//
//	&__column {
//		@media only screen and (max-width: 380px) {
//			float: none;
//		}
//	}
//
//
//	&__header {
//		display: flex;
//		align-items: center;
//		justify-content: space-between;
//		padding: 8px 0;
//		margin: 0;
//		min-height: 25px;
//
//		.button {
//			display: inline-block;
//			text-decoration: none;
//			font-size: 13px;
//			line-height: 2.15384615;
//			min-height: 30px;
//			margin: 0;
//			padding: 0 10px;
//			cursor: pointer;
//			border-width: 1px;
//			border-style: solid;
//			-webkit-appearance: none;
//			border-radius: 3px;
//			white-space: nowrap;
//			box-sizing: border-box;
//		}
//
//		.button-default {
//			background: #f3f5f6;
//			border-color: #7e8993;
//			box-shadow: none;
//			color: #016087;
//		}
//
//		.button-primary {
//			background: #00669b;
//			border-color: #00669b;
//			box-shadow: none;
//			color: #fff;
//		}
//	}
//
//	&__content {
//		padding-bottom: 80px;
//	}
//
//	&__description {
//		background: #fff;
//		border: 1px solid #e4e5e7;
//		border-radius: 4px;
//		padding: 20px;
//		position: relative;
//		margin-top: 20px;
//		@media only screen and (min-width: 768px) {
//			padding: 50px
//		}
//		@media only screen and (max-width: 480px) {
//			padding: 0;
//		}
//
//		.ea-card {
//			border: none;
//		}
//	}
//
//	&__items {
//		margin-top: 25px;
//
//		th {
//			background: #415164;
//			color: #ffffff;
//		}
//	}
//
//	&__billing-info {
//		@media only screen and (max-width: 380px) {
//			text-align: left !important;
//		}
//	}
//	&__to {
//		@media only screen and (max-width: 380px) {
//			text-align: left;
//		}
//	}
//
//	&__meta {
//		@media only screen and (max-width: 380px) {
//			float: none;
//		}
//	}
//
//	&__line-name {
//		.view {
//			color: #314e73;
//			font-weight: 500;
//		}
//
//	}
//
//	&__total-items {
//		tr {
//			border-bottom: 1px solid #dfdfdf;
//		}
//	}
//
//	&__data-row {
//		background: none;
//	}
//
//	&__bottom {
//		text-align: center;
//		background: #fff;
//		padding: 15px;
//		margin-top: 50px;
//		position: fixed;
//		bottom: 0;
//		left: 0;
//		right: 0;
//		z-index: 1030;
//		border-top: 1px solid #e4e5e7;
//
//		p {
//			margin: 0;
//			font-size: 15px;
//		}
//
//		a {
//			text-decoration: none;
//		}
//	}
//
//
//}

