.ea-main-wrapper{
	min-height: 100vh;
	//margin-left: -20px;
	//margin-top: -10px;
	//margin-right: -20px;
		margin: 0 auto;
		text-align: left;
		max-width: 75rem;
		padding: 1.5rem 0;
		box-sizing: border-box;
}

//.ea-page-wrapper{
//	margin: 0 auto;
//	text-align: left;
//	max-width: 75rem;
//	padding: 1.5rem 0;
//	box-sizing: border-box;
//}
//
//.ea-tab-wrapper{
//	margin-bottom: 1.5rem !important;
//}


//put space round tab title
.ea-tab-section-wrapper .wp-heading-inline{
	margin: 20px 20px 20px 0 !important;
}
