.ea-header {
	background-color: #ffffff;
	text-align: center;
	box-shadow: rgba(213, 213, 213, 0.5) 0px 1px 0px, rgb(238, 238, 238) 0px 1px 2px;;

	@media (max-width: rem( 782px ) ) {
		padding: 0 rem( 24px );

		.ever-masterbar & {
			padding-left: rem( 75px );
		}
	}


	&__inside-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 100%;
		max-width: 75rem;
		align-items: center;

		@media (max-width: 1250px) {
			max-width: 95%;
		}
	}
	&__logo-container {
		flex-grow: 0;
		flex-shrink: 0;
		padding: rem( 8px ) 0 0;
	}

	&__logo-link {
		display: inline-block;
		outline: none;
		vertical-align: middle;

		&:focus {
			line-height: 0; // fixes rectangle gap
			box-shadow: none;
			outline: none;
		}
	}

	.ea-nav{
		width:auto;
		margin-left: auto;
		margin-top: 0;
		margin-bottom: 0;
		display: flex;
		//width: 100%;
		overflow: hidden;
		//margin: 0;
		list-style: none;
		box-sizing: border-box;
		padding: 0;

		a {
			font-weight:500;
			width: auto;
			flex: none;
			border-bottom: 2px solid transparent;
			border-top: none;
			text-align: center;
			margin-bottom: 0;
			text-decoration: none;
			box-shadow: none;
			display: block;
			padding: 16px 16px 14px;
			color: #0087be;

			&.active {
				color: #414141;
				border-color: #414141;
			}
		}
	}
}
