@mixin generate-utilities($utilities) {
	@each $utility, $config in $utilities {
		$values: map-get($config, values);

		// If the values are a list or string, convert it into a map
		@if type-of($values) == "string" or type-of(nth($values, 1)) != "list" {
			$values: zip($values, $values);
		}

		@each $key, $value in $values {
			$properties: map-get($config, property);
			// Multiple properties are possible, for example with vertical or horizontal margins or paddings
			@if type-of($properties) == "string" {
				$properties: append((), $properties);
			}

			$class: if(map-has-key($config, class), map-get($config, class), nth($properties, 1));
			$class: if($class == null, "", $class);

			// State params to generate pseudo-classes
			$state: if(map-has-key($config, state), map-get($config, state), ());

			// Don't prefix if value key is null (eg. with shadow class)
			$modifier: if($key, if($class == "", "", "-") + $key, "");

			@if $value != null {

				// Generate utility classes
				.#{ $class}#{ $modifier} {
					@each $property in $properties {
						#{$property}: $value;
					}
				}

				// Generate pseudo-classes
				@each $pseudo in $state {
					.#{ $class}#{ $modifier}-#{$pseudo}:#{$pseudo} {
						@each $property in $properties {
							#{$property}: $value;
						}
					}
				}
			}
		}
	}
}
$spacer: 1em !default;
$spacers: (
	0: 0,
	1: .5em,
	2: 1em,
	3: 1.5em,
	4: 2em,
	5: 2.5em,
	6: 3em,
	7: 3.5em,
	8: 4em,
) !default;
$utilities: (
	// margin and padding
	"margin": (
		responsive: true,
		property: margin,
		class: m,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-x": (
		responsive: true,
		property: margin-right margin-left,
		class: mx,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-y": (
		responsive: true,
		property: margin-top margin-bottom,
		class: my,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-top": (
		responsive: true,
		property: margin-top,
		class: mt,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-bottom": (
		responsive: true,
		property: margin-bottom,
		class: mb,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-start": (
		property: margin-left,
		class: ms,
		values: map-merge($spacers, (auto: auto))
	),
	// Padding utilities
	"padding": (
		responsive: true,
		property: padding,
		class: p,
		values: $spacers
	),
	"padding-x": (
		responsive: true,
		property: padding-right padding-left,
		class: px,
		values: $spacers
	),
	"padding-y": (
		responsive: true,
		property: padding-top padding-bottom,
		class: py,
		values: $spacers
	),
	"padding-top": (
		responsive: true,
		property: padding-top,
		class: pt,
		values: $spacers
	),
	"padding-bottom": (
		responsive: true,
		property: padding-bottom,
		class: pb,
		values: $spacers
	),
	"border" : (
		property: border,
		class: b,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
	"border-top" : (
		property: border-top,
		class: bt,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
	"border-bottom" : (
		property: border-bottom,
		class: bb,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
	"border-start" : (
		property: border-left,
		class: b-start,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
	"border-end" : (
		property: border-right,
		class: b-end,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
);

@include generate-utilities($utilities);
