
.eac-drawer {
    position: fixed;
    z-index: 1000;
    width: 0%;
    height: 100%;
    transition: width 0s ease .3s,height 0s ease .3s
}

.eac-drawer__content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform .3s cubic-bezier(.23,1,.32,1),box-shadow .3s cubic-bezier(.23,1,.32,1)
}

.ant-drawer .eac-drawer__content {
    width: 100%;
    height: 100%
}

.eac-drawer--left,.eac-drawer--right {
    top: 0;
    width: 0;
    height: 100%
}

.eac-drawer--left .eac-drawer__content-wrapper,.eac-drawer--right .eac-drawer__content-wrapper {
    height: 100%
}

.eac-drawer--left.eac-drawer--open,.eac-drawer--right.eac-drawer--open {
    width: 100%;
    transition: transform .3s cubic-bezier(.23,1,.32,1)
}

.eac-drawer--left,.eac-drawer--left .eac-drawer__content-wrapper {
    left: 0
}

.eac-drawer--left.eac-drawer--open .eac-drawer__content-wrapper {
    box-shadow: 6px 0 16px -8px #00000014,9px 0 28px #0000000d,12px 0 48px 16px #00000008
}

.eac-drawer--right,.eac-drawer--right .eac-drawer__content-wrapper {
    right: 0
}

.eac-drawer--right.eac-drawer--open .eac-drawer__content-wrapper {
    box-shadow: -6px 0 16px -8px #00000014,-9px 0 28px #0000000d,-12px 0 48px 16px #00000008
}

.eac-drawer--right.eac-drawer--open.no-mask {
    right: 1px;
    transform: translate(1px)
}

.eac-drawer__top,.eac-drawer__bottom {
    left: 0;
    width: 100%;
    height: 0%
}

.eac-drawer__top .eac-drawer__content-wrapper,.eac-drawer__bottom .eac-drawer__content-wrapper {
    width: 100%
}

.eac-drawer__top.eac-drawer--open,.eac-drawer__bottom.eac-drawer--open {
    height: 100%;
    transition: transform .3s cubic-bezier(.23,1,.32,1)
}

.eac-drawer__top {
    top: 0
}

.eac-drawer__top.eac-drawer--open .eac-drawer__content-wrapper {
    box-shadow: 0 6px 16px -8px #00000014,0 9px 28px #0000000d,0 12px 48px 16px #00000008
}

.eac-drawer__bottom,.eac-drawer__bottom .eac-drawer__content-wrapper {
    bottom: 0
}

.eac-drawer__bottom.eac-drawer--open .eac-drawer__content-wrapper {
    box-shadow: 0 -6px 16px -8px #00000014,0 -9px 28px #0000000d,0 -12px 48px 16px #00000008
}

.eac-drawer__bottom.eac-drawer--open.no-mask {
    bottom: 1px;
    transform: translateY(1px)
}

.ant-drawer.eac-drawer--open .eac-drawer__mask {
    height: 100%;
    opacity: 1;
    transition: none;
    -webkit-animation: antdDrawerFadeIn .3s cubic-bezier(.23,1,.32,1);
    animation: antdDrawerFadeIn .3s cubic-bezier(.23,1,.32,1);
    pointer-events: auto
}

.eac-drawer__title {
    flex: 1;
    margin: 0;
    color: #000000d9;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px
}

.eac-drawer__content {
    position: relative;
    z-index: 1;
    overflow: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0
}

.eac-drawer__close {
    display: inline-block;
    margin-right: 12px;
    color: #00000073;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 1;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color .3s;
    text-rendering: auto
}

.eac-drawer__close:focus,.eac-drawer__close:hover {
    color: #000000bf;
    text-decoration: none
}

.eac-drawer__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    color: #000000d9;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 6px 6px 0 0
}

.eac-drawer__header-title {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between
}

.eac-drawer__header-close-only {
    padding-bottom: 0;
    border: none
}

.eac-drawer__wrapper-body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%
}

.eac-drawer__body {
    flex-grow: 1;
    padding: 24px;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word
}

.eac-drawer__footer {
    flex-shrink: 0;
    padding: 10px 16px;
    border-top: 1px solid #f0f0f0
}

.eac-drawer__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    //opacity: 0;
    transition: opacity .3s linear,height 0s ease .3s;
    pointer-events: none
}

.ant-drawer .ant-picker-clear {
    background: #fff
}

@-webkit-keyframes antdDrawerFadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes antdDrawerFadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.eac-drawer__rtl {
    direction: rtl
}

.eac-drawer__rtl .eac-drawer__close {
    margin-right: 0;
    margin-left: 12px
}
