.eac-input {
	&-wrapper {
		display: flex;
		flex-direction: column;
		margin: 0 0 12px 0;

		&:last-child {
			border-bottom: 0;
		}
	}

	&__label {
		text-align: left;
		margin: 0 8px 5px 0;
		padding: 2px 0;
		font-weight: bold;
	}

	&__group {
		position: relative;
		display: table;
		border-collapse: separate;
		box-sizing: border-box;

		& > label:not(:last-child) {
			margin: 0 0 12px 0;
		}

		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="password"],
		input[type="search"],
		input[type="tel"],
		select,
		textarea {
			box-sizing: border-box;
			max-width: none;
			// if does not contains short class.
			&:not(.auto) {
				width: 100%;
			}
		}

		.select2-selection {
			border-color: #8c8f94 !important;
		}

		&.eac-input--has-prefix {
			.select2-selection {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				margin: 0;
			}
		}

		&.eac-input--has-suffix {
			.select2-selection {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				margin: 0;
			}
		}
	}

	&__text,
	&__number,
	&__email,
	&__url,
	&__password,
	&__search,
	&__tel,
	&__price,
	&__date,
	&__select {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		box-sizing: border-box;

		.eac-input--has-prefix & {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			margin: 0;
		}

		.eac-input--has-suffix & {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			margin: 0;
		}
	}

	&__prefix,
	&__suffix {
		display: table-cell;
		width: 1px;
		white-space: nowrap;
		vertical-align: middle;
		box-sizing: border-box;

		padding: 0 8px;
		line-height: 1;
		color: #555;
		text-align: center;
		background-color: #eee;
		border: 1px solid #8c8f94;
		border-radius: 4px;
		user-select: none;

		button {
			border: 0;
			background: transparent;
			cursor: pointer;
			-webkit-appearance: none;
			margin-left: -8px;
			margin-right: -8px;
			padding: 0 8px;
			min-height: 25px;
			transition:all 0.3s ease-in-out;

			&:focus,
			&:active,
			&:hover {
				outline: 0;
			}

			&:hover {
				background-color: #e5e5e5;
			}
		}

		.dashicons, .dashicons-before:before{
			color: #646970;
			height: 16px;
			width: 16px;
			font-size: 16px;
		}
	}

	&__prefix {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 0;
	}

	&__suffix {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: 0;
	}

	&__description {
		margin: 2px 0 5px;
		color: #646970;

		& + fieldset {
			margin-top: 20px;
		}
	}
}
