.eac-page {
	box-sizing: border-box;
	position: relative;

	&__tabs {
		margin: 1.5em 0 1em;

		+ .subsubsub{
			margin: -8px 0 0;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 20px 0;
		min-height: 25px;
		box-sizing: border-box;
		flex-wrap: wrap;

		&-col {
			display: flex;
			align-items: center;
			justify-content: space-between;
			box-sizing: border-box;

			> * {
				margin-right: 10px !important;

				&:last-child {
					margin-right: 0 !important;
				}
			}
		}

		p.submit {
			margin: 0;
			padding: 0;
		}

		input, select, .select2, button {
			margin-right: 5px;
		}

		a {
			text-decoration: none;
		}

		.page-title-action,
		.page-title-action:active,
		.page-title-action:focus,
		.page-title-action:hover {
			top: 0;
		}
	}

	&__title {
		line-height: 1.7;
		font-size: 1.5em;
		margin: 0;
	}

	&__subtitle {
		font-size: 1.25rem;
		font-weight: 400;
		margin: 0;
	}
}
