.ea-file-field{
  .ea-input-group{
	display: block;
  }
  .ea-file-link{
	padding: 5px;
	border: 1px solid #dddd;
	background: #fff;
	overflow: hidden;
	display: inline-block;
  }
  .ea-file-image-preview{
	width: 75px;
	height: 75px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
  }
  .ea-file-remove{
	display: block;
	cursor:pointer;
	color: #0073aa;
  }
}
