.ea-text-control{
	margin-bottom: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height:auto;

	label, .components-base-control__label{
		font-weight: 600 !important;
	}

	&.has-error{
		.components-base-control__help{
			color:red;
			margin-bottom: 0;
		}
	}
}
