.ea-date-filter{
	.ea-form-group{
		&::after{
			content: "\f145";
			font-family: dashicons;
			display: inline-block;
			font-weight: 400;
			font-style: normal;
			speak: none;
			text-decoration: inherit;
			text-transform: none;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			width: 12px;
			height: 12px;
			font-size: 12px;
			vertical-align: top;
			text-align: center;
			transition: color .1s ease-in;
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
			line-height: 12px;
		}

		.ea-input-group__input{
			padding-right: 25px;
		}
	}
}
