.eaccounting .wp-list-table {
	table-layout: fixed;

	tbody {
		> th:not(.check-column) {
			vertical-align: top;
			padding: 5px;
		}
	}

	a {
		&:focus {
			box-shadow: none;
			outline: 0;
		}
	}

	.column-status {
		width: 150px;
	}

	.ea-item-status {
		background: #dd4b39;
		color: #fff;
		font-size: 11px;
		padding: .2em .6em .3em;
		line-height: 11px;

		&.enabled {
			background: #5cb85c;
		}
	}

	.check-column-red {
		vertical-align: middle;
		padding: 4px 0 0 3px !important;
		width: 2.2em;
		margin: 0;
	}

	.ea-money {
		font-family: sans-serif;
	}

}

.edit-groups {
	width: 100%;

	th {
		line-height: 1.2;
		vertical-align: top;
		padding: 2px;
		padding-top: 5px !important;
		padding-left: 0;
		font-size: 13px;
		font-weight: bold;
	}

	td {
		padding: 2px;
	}

	input[type=text] {
		width: 100%;
	}
}

.eaccounting {
	.tablenav {
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.tablenav-pages .current-page{
		width: 30px;
	}
}

/**
 * The buttons at the bottom of a table to perform an action - delete logs etc
 */
.table-buttons {
	float: left;
	padding-top: 2px;

	> button, > form, > div.table-button-item {
		margin-right: 5px !important;
		display: inline;
	}

	.redirection-modal_wrapper {
		display: inline;
	}
}

/**
 * Mobile version of table
 */
@media screen and (max-width: 782px) {
	input[type="checkbox"] {
		height: 20px;
		width: 20px;
	}

	.wp-list-table {
		td.column-primary {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.eaccounting .wp-list-table {
		td,
		input,
		select,
		th {
			font-size: 1em !important;
		}
	}
}

.ea-table-display__filter {
	button {
		min-width: 200px;
	}

	.ea-popover__content {
		min-width: 180px;
	}
}

.ea-table-display {
	display: flex;
	align-items: center;
	align-content: center;

	> div {
		margin-right: 5px;
	}

	.ea-searchbox{
		margin-left: auto;
	}

	input[name="s"] {
		margin-right: 5px;
		margin-top: 0;
	}
}

.ea-table-filter__select {
	min-width: 200px;
	display: inline-block;
	margin-right: 5px;

	.ea-table-filter__select__control {
		max-height: 27px;
		min-height: 27px;
		height: 27px;
		border-color: #ddd;
		border-radius: 0;
		margin-top: 1px;
	}
}

.tablenav{
  .actions {
	overflow: visible;
  }
  &.top{
	margin-bottom: 9px;
  }
}

.ea-table__actions {
	//display: inline-flex;
	//align-items: center;

	.actions {
		.button {
			height: 28px;
			margin-top: 1px;
		}
	}

	.ea-form-group {
		margin-bottom: 9px;
		min-width: 200px;
	}

	&>button{
		margin-bottom: 9px;
	}
}

