$spacer: 1em !default;
$spacers: (
	0: 0,
	1: .5em,
	2: 1em,
	3: 1.5em,
	4: 2em,
	5: 2.5em,
	6: 3em,
	7: 3.5em,
	8: 4em,
) !default;
$utilities: (
	"clear": (
		property: clear,
		values: (
			both: both,
		)
	),
	"overflow": (
		property: overflow,
		values: auto hidden visible scroll,
	),
	"float": (
		responsive: true,
		property: float,
		values: left right none,
	),
	"display": (
		property: display,
		class: d,
		values: inline inline-block block flex inline-flex none
	),
	"max-width": (
		property: max-width,
		class: mw,
		values: (
			50: 50%,
			100: 100%,
			50px: 50px,
			100px: 100px,
			200px: 200px,
		)
	),
	"max-height": (
		property: max-height,
		class: mh,
		values: (100: 100%)
	),
	// Flex Utility Classes
	"flex": (
		property: flex,
		values: (fill: 1 1 auto)
	),
	"flex-direction": (
		property: flex-direction,
		class: flex,
		values: row column row-reverse column-reverse
	),
	"flex-wrap": (
		property: flex-wrap,
		class: flex,
		values: wrap nowrap wrap-reverse
	),
	"gap": (
		property: gap,
		class: gap,
		values: $spacers
	),
	"justify-content": (
		property: justify-content,
		values: (
			start: flex-start,
			end: flex-end,
			center: center,
			between: space-between,
			around: space-around,
			evenly: space-evenly,
		)
	),
	"align-items": (
		property: align-items,
		values: (
			start: flex-start,
			end: flex-end,
			center: center,
			baseline: baseline,
			stretch: stretch,
		)
	),
	"align-content": (
		property: align-content,
		values: (
			start: flex-start,
			end: flex-end,
			center: center,
			between: space-between,
			around: space-around,
			stretch: stretch,
		)
	),
	"align-self": (
		property: align-self,
		values: (
			auto: auto,
			start: flex-start,
			end: flex-end,
			center: center,
			baseline: baseline,
			stretch: stretch,
		)
	),
	// margin and padding
	"margin": (
		responsive: true,
		property: margin,
		class: m,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-x": (
		responsive: true,
		property: margin-right margin-left,
		class: mx,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-y": (
		responsive: true,
		property: margin-top margin-bottom,
		class: my,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-top": (
		responsive: true,
		property: margin-top,
		class: mt,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-bottom": (
		responsive: true,
		property: margin-bottom,
		class: mb,
		values: map-merge($spacers, (auto: auto))
	),
	"margin-start": (
		property: margin-left,
		class: m-start,
		values: map-merge($spacers, (auto: auto))
	),
	// Padding utilities
	"padding": (
		responsive: true,
		property: padding,
		class: p,
		values: $spacers
	),
	"padding-x": (
		responsive: true,
		property: padding-right padding-left,
		class: px,
		values: $spacers
	),
	"padding-y": (
		responsive: true,
		property: padding-top padding-bottom,
		class: py,
		values: $spacers
	),
	"padding-top": (
		responsive: true,
		property: padding-top,
		class: pt,
		values: $spacers
	),
	"padding-bottom": (
		responsive: true,
		property: padding-bottom,
		class: pb,
		values: $spacers
	),
	"border" : (
		property: border,
		class: b,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
	"border-top" : (
		property: border-top,
		class: bt,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
	"border-bottom" : (
		property: border-bottom,
		class: bb,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
	"border-start" : (
		property: border-left,
		class: b-start,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
	"border-end" : (
		property: border-right,
		class: b-end,
		values: (
			null: 1px solid #e1e2e2,
			0: 0,
		)
	),
);
@include generate-utilities($utilities);


/*------------------------------------------------------------------------------
Overflows
------------------------------------------------------------------------------*/
.eac-overflow-x {
	overflow-x: auto;
}
