/************************************************************
 * Admin Header
 ************************************************************/
.eac-admin-header {
	display: flex;
	margin-left: -20px;
	min-height: 60px;
	padding-left: 20px;
	border-bottom: 1px solid #e1e2e2;
	background: #fff;

	&__wrapper {
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		flex: 1;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: stretch;

		& > * {
			display: flex;
			align-items: center;
		}
	}

	&__title {
		flex: 1;
		font-size: 1.5em;
		font-weight: 600;
		margin: 0;
	}

	&__logo {
		margin-right: 15px;
		padding-right: 15px;
		position: relative;

		a {
			color: #77b82e;
			text-decoration: none;
			overflow: hidden;

			&:focus,
			&:hover {
				color: #77b82e;
				outline: none;
				box-shadow: none;
			}
		}

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			margin: 0;
			content: '';
			background: #e1e2e2;
			height: 100%;
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			display: inline-block;
			margin: 0;
			padding: 0;
			position: relative;
			height: 100%;

			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				border: none;
				outline: none;
				cursor: pointer;
				background-color: #fff;
				height: 100%;
				color: #757575;
				white-space: nowrap;
				text-decoration: none;
				padding: 0 12px;
				margin: 0;
				border-radius: 2px;
				transition: all .1s linear;
				font-size: 13px;

				&:hover {
					background-color: #f0f0f0;
					box-shadow: none;
					color: $primary;
				}
			}

			// On hover, show the submenu.
			&:hover {
				> ul {
					display: block;
				}
			}

			ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 999;
				min-width: 200px;
				padding: 0;
				margin: 0;
				list-style: none;
				background-color: #fff;
				box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
				border-radius: 0 0 2px 2px;

				li {
					display: block;
					position: relative;
					margin: 0;
					padding: 0;

					a {
						display: block;
						padding: 10px 15px;
						height: auto;
						color: #757575;
						text-decoration: none;
						white-space: nowrap;
						transition: background-color .1s linear;

						&:hover {
							background-color: #f0f0f0;
						}
					}

				}
			}

			&.current {
				a {
					color: #77b82e;
					background-color: #f0f0f0;
					box-shadow: none;
				}
			}
		}

		&-icon {
			font-size: 20px;
			height: 20px;
			width: 20px;
			margin-bottom: 4px;
		}
	}

	a:focus,
	a:hover {
		outline: none;
		box-shadow: none;
		text-decoration: none;
	}
}
/************************************************************
 * Status
 ************************************************************/

.eac-status {
	text-transform: uppercase;
	font-weight: 400;
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	line-height: 1;
	padding: 4px 12px;
	margin: 0;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	background: 0 0;
	color: #ffffff;
	background: #63686f;
	border: 1px solid #63686f;

	&.is--warning {
		background: #f9a825;
		border: 1px solid #f9a825;
	}

	&.is--danger {
		background: #e55353;
		border: 1px solid #e55353;
	}

	&.is--success {
		background: #00a86b;
		border: 1px solid #00a86b;
	}

	&.is--info {
		background: #007bff;
		border: 1px solid #007bff;
	}

	&.is--secondary {
		background: #6c757d;
		border: 1px solid #6c757d;
	}

	&.is--disabled {
		background: #f8f9fa;
		border: 1px solid #f8f9fa;
		color: #495057;
	}

	&.is--enabled {
		background: #00a86b;
		border: 1px solid #00a86b;
	}

	&.is--active {
		background: #007bff;
		border: 1px solid #007bff;
	}
}


/************************************************************
 * Section header
 ************************************************************/
.eac-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 1em;
	min-height: 25px;
	box-sizing: border-box;
	flex-wrap: wrap;
	gap: 10px;

	h2, h3 {
		line-height: 1.7;
		font-size: 1.5em;
		margin: 0 .25em 0 0;

		&:last-child {
			margin-right: 0;
		}
	}

	&__subtitle {
		font-size: 1.25rem;
		font-weight: 400;
		margin: 0;
	}

	& > div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
		gap: 10px;
	}

	p {
		margin: 0;
		padding: 0;
	}

	input, select, .select2, button {
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	.page-title-action,
	.page-title-action:active,
	.page-title-action:focus,
	.page-title-action:hover {
		top: 0;
		margin-left: -5px;
	}
}


/************************************************************
 * Tooltip
 ************************************************************/
.eac-tooltip {
	color: #666;
	display: inline-block;
	font-style: normal;
	position: relative;
	vertical-align: middle;
	padding: 0;
	cursor: help;
	font-weight: normal;

	.eac-input__label & {
		margin: 0;
		font-size: 15px;
		position: absolute;
		top: 0;
		right: 15px;
	}
}

.eac-ui-tooltip {
	opacity: 1 !important;
	font-size: .8em !important;
	padding: .618em 1em !important;
	position: absolute;
	background: #333 !important;
	border-width: 1px !important;
	border-radius: 3px !important;
	box-shadow: 1px 1px 2px 1px rgba(214, 214, 214, 0.5) !important;
	color: #dedede !important;
	max-width: 200px !important;
	text-rendering: optimizeLegibility;
	text-shadow: none !important;
	z-index: 9999 !important;
	margin: -17px 0 0 -8px !important;
}
