@import "../common/variables";
@import "../common/tailwind";
@import "../common/document";
@import "../common/dropdown";
@import "../common/panel";
@import "../common/card";
@import "../common/notes";
@import "../common/modal";
@import "../common/table";
@import "../common/forms";
@import "../common/list";
@import "layout";
@import "header-menu";
@import "statuses";
@import "media";
@import "profile";
@import "list-tables";
@import "reports";
@import "misc";
@import "tooltip";


.eac-metrics {
	display: grid;
	justify-content: space-between;
	margin-bottom: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));


	.eac-metric {
		background: #fff;
		border: 1.3px solid #e5e4e6;
		cursor: pointer;
		padding: 25px;
		position: relative;
		transition: all 0.3s ease;

		&:hover {
			background-color: #f9f9f9;
		}

		&__label {
			color: #6c757d;
			font-size: 14px;
			font-weight: normal;
			margin: 0 0 20px;
			line-height: 1.2;
		}

		&__value {
			font-size: 26px;
			line-height: 1.2;
			margin: 0;
			padding: 0;
		}

		&__legend {
			background-color: #fff;
			border-bottom-left-radius: 8px;
			border-color: #fff #fff #e5e5e5 #e5e5e5;
			border-style: solid;
			border-width: 1px;
			color: #6c757d;
			font-size: 10px;
			line-height: 1em;
			padding: 2px 2px 4px 5px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 11;
		}

		&__delta {
			color: #059669;
			background-color: rgba(5, 150, 105, .05);
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			border-radius: 0.125em;
			padding-left: 0.25em;
			padding-right: 0.25em;
			padding-top: 0.125em;
			padding-bottom: 0.125em;
			font-size: 11px;
			line-height: 1em;

			&.is--negative {
				color: #dc2626;
				background-color: rgba(220, 38, 38, .05);
			}
		}
	}
}
